{% extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% block content %}

<h1 style="color: aqua;">Servicios</h1>
{% for servicio in servi %}


<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" style="width: 40%";>
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">{{ servicio.titulo }}</span>
            <span class="section-heading-lower">{{ servicio.contenido }}</span>
          </h2>
          <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.
          </p>
         
        </div>
      </div>
    </div>
    
  </section>

{% comment %} <p style="color: white";>{{ servicio.titulo }}</p>
<p style="color: white">{{ servicio.contenido }}</p>
<div style="text-align: center;"><img src="{{servicio.imagen.url}}" style="max-width: 250px; height: auto;"></div> {% endcomment %}

{% endfor %}


{% endblock %}