El{% extends "ProyectoWebApp/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/contacto.css' %}">

<div class="contacto-container">

    <div class="form-contacto">

        <h2 class="titulo-contacto">PQRS</h2>

        <form action="{% url 'Contactos' %}" method="POST">
        {% csrf_token %}

            <p>Asunto:</p>
            <input type="text" name="asunto" required>

            <p>Email:</p>
            <input type="email" name="email" required>

            <p>Mensaje:</p>
            <textarea name="mensaje" rows="5" required></textarea>

            <button type="submit">Enviar</button>

        </form>

        {% if valido %}
        <p class="mensaje-exito">Correo enviado correctamente</p>
        {% endif %}

    </div>
    
</div>
{% endblock %}